{% extends "base.html" %}
{% load static %}
{% block title %}پروفایل کاربری - گروه داروئی آژند{% endblock  %}
{% block links %}{% endblock  %}
{% block body %}
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-info card d-flex flex-column align-items-center justify-content-center p-3">
                <div class="profile-img mt-3">
                    {% if user.profile_image %}
                    <img src="{{ user.profile_image.url }}" class="rounded-pill shadow-sm" alt="{{ user.username }}">
                    {% else %}
                    <img src="{% static 'img/user.png' %}" class="rounded-pill shadow-sm" alt="{{ user.username }}">
                    {% endif %}
                </div>
                <p class="full-name fs-4 mt-4">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="personnel-code">کد پرسنلی: {{ user.personnel_code }}</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-detail card p-5">
                <div class="info d-flex justify-content-between">
                    <p class="fs-4">نام کامل:</p>
                    <p class="fs-4">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <hr>

                <div class="info d-flex justify-content-between">
                    <p class="fs-4">نام کاربری:</p>
                    <p class="fs-4">{{ user.username }}</p>
                </div>
                <hr>

                <div class="info d-flex justify-content-between">
                    <p class="fs-4">موقعیت کاری:</p>
                    <p class="fs-4">{{ user.work_position }}</p>
                </div>
                <hr>

                <div class="info d-flex justify-content-between">
                    <p class="fs-4">ایمیل:</p>
                    <p class="fs-4">{{ user.email }}</p>
                </div>
                <hr>
            </div>

            <div class="change-password card p-5 my-4">
                <p class="change-password-title">تغییر کلمه عبور</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-text">{{ form.non_field_errors }}</div>
                    <div class="mb-3">
                        {{ form.old_password.label_tag }}
                        {{ form.old_password }}
                        <div id="old_password" class="form-text">
                            {{ form.old_password.errors }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                    </div>

                    <div class="mb-3">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                    </div>

                    <div class="d-flex">
                        <button type="submit" class="btn btn-outline-success ms-auto">تغییر پسورد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}