<div class="links-wrapper bg-white rounded shadow-sm d-flex flex-column p-3">
    <a href="#" class="links-item rounded border border-2 border-success shadow-sm text-dark text-decoration-none p-3 d-flex flex-column justify-content-center align-items-center">
        <i class="bi bi-browser-edge fs-1"></i>
        <h3 class="fs-4 fw-bold">وب سایت آوه سینا</h3>
    </a>

    <a href="#" class="links-item rounded mt-3 border border-2 border-success shadow-sm text-dark text-decoration-none p-3 d-flex flex-column justify-content-center align-items-center">
        <i class="bi bi-browser-edge fs-1"></i>
        <h3 class="fs-4 fw-bold">وب سایت ارسطو</h3>
    </a>

    <a href="#" class="links-item rounded mt-3 border border-2 border-success shadow-sm text-dark text-decoration-none p-3 d-flex flex-column justify-content-center align-items-center">
        <i class="bi bi-infinity fs-1 fw-bold"></i>
        <h3 class="fs-4 fw-bold">اتوماسیون اداری</h3>
    </a>

    <a href="#" class="links-item rounded mt-3 border border-2 border-success shadow-sm text-dark text-decoration-none p-3 d-flex flex-column justify-content-center align-items-center">
        <i class="bi bi-wallet-fill fs-1"></i>
        <h3 class="fs-4 fw-bold">راهکاران آوه سینا</h3>
    </a>

    <a href="#" class="links-item rounded mt-3 border border-2 border-success shadow-sm text-dark text-decoration-none p-3 d-flex flex-column justify-content-center align-items-center">
        <i class="bi bi-wallet-fill fs-1"></i>
        <h3 class="fs-4 fw-bold">راهکاران ارسطو</h3>
    </a>
</div>