{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.rtl.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} گروه داروئی آژند {% endblock %}</title>
</head>
<body class="bg-light">
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Navbar -->

    <!-- Messages -->
    {% include "messages.html" %}
    <!-- Messages -->

    {% block links %}
        <!-- links -->
        {% include "links.html" %}
        <!-- links -->
    {% endblock  %}

    <!-- Content -->
    {% block body %}{% endblock  %}
    <!-- Content -->

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>